{% macro render_field(field, fa_icon) %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label }}
            <div class="input-group">
                {{ field(class="form-control", **kwargs)|safe }}
                <span class="input-group-addon label-success"><span class="fa fa-{{ fa_icon }} fa-lg text-white"></span></span>
            </div>
            {% if field.errors %}
            {% for e in field.errors %}
                <p class="text-danger">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_upload_file(field, fa_icon) %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label }}
            <div class="input-group">
                {{ field(class="form-control", **kwargs) }}
                <span class="input-group-addon label-default"><span class="fa fa-{{ fa_icon }} fa-lg text-white"></span></span>
            </div>
            {% if field.errors %}
            {% for e in field.errors %}
                <p class="text-danger">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

