<!DOCTYPE html PUBLIC> 
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/own.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.5.0/css/font-awesome.css') }}">
{% endblock %}
</head>
<body>
    <!-- Second navbar for profile settings -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NetScriptGen</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
              {% if g.user.is_authenticated()%}
                <li><a href="{{ url_for('user_display', id=g.user.id) }}">Welcome {{ g.user.firstname }} {{ g.user.lastname }} !</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
              {% if not g.user.is_authenticated()%}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
	<div class="container">
   		<div class="row">
	   		<div class="col-md-2">
	   			<h3>Menu</h3>
	   			<ul class="nav nav-pills nav-stacked">
	              <li><a href="{{ url_for('project_display_all') }}">Project</a></li>
	              <li><a href="{{ url_for('customer_display_all') }}">Client</a></li>
	              <li><a href="{{ url_for('user_display_all') }}">User</a></li>
	            </ul>
	   		</div>
	   		<div class="col-md-10">
				<div id="content">{% block content %}{% endblock %}</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
	        <p><a href="http://www.telindus.fr/" target="_blank" >© 2015 - SFR Business</a></p>
      </div>
    </footer>
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>
        <script src="{{ url_for('static', filename='js/own.js') }}"></script>
    {% endblock %}
</body>
</html>