{% extends "base.html" %}
{% block title %}Preview{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-sm-10">
            <div class="row">
                <h2>New Project</h2>
            </div>
            <!-- Step Wizard -->
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                        <p>Project Data</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-primary btn-circle">2</a>
                        <p>Preview</p>
                    </div>
                </div>
            </div>
            <!-- Step Wizard END -->
                <form method="POST" action="/project/add" enctype="multipart/form-data">
                <table id="mytable" class="table table-bordred table-striped" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hostname</th>
                            <th>Equipment</th>
                            <th>Type</th>
                            <th>Filling ratio</th>
                            <th>Percentage</th>
                            <th>Error</th>
                            <th>View</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipments %}
                        <tr>
                            <td>{{ iterator.value() }}</td>
                            <td>{{ equipment['Hostname']  }}</td>
                            <td>{{ equipment['Equipment'] }}</td>
                            <td>{{ equipment['Type'] }}</td>
                            <td>{{ equipment['filling_ratio']  }}</td>
                            <td>{{ equipment['filling_ratio_in_percentage'] }}</td>
                            <td data-toggle="collapse" data-target="#equipment{{ iterator.increment() }}" class="accordion-toggle"><button type='button' class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                            <td><a href="/file/{{ equipment['Hostname'] }}" role="button" target="_blank"><i class="fa fa-file-code-o fa-1x"></i></a></td>
                            <td><a href="/download/{{ equipment['project_folder'] }}/{{ equipment['Hostname']  }}.txt" target="_blank" download=""><span class="glyphicon glyphicon-download"></span></a></td>

                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse" id="equipment{{ iterator.value() }}">
                                    <div class="col-sm-12">
                                        {% for error in equipment['tb'] %}
                                        <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-lg-3 ">
                        <button type="button" class="btn btn-primary col-xs-12" onclick="goBack()"><i class="fa fa-angle-double-left"></i>  Previous Step</button>
                    </div>
                    <div class="col-md-3 col-lg-3 col-md-offset-6">
                        <button type="submit" class="btn btn-primary col-xs-12">Next Step <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
                </form>

        </div>
    </div>
{% endblock %}