<!DOCTYPE html PUBLIC>
<html lang="en">
<head>
{% from "_formhelpers.html" import render_register_field %}
{% block head %}
    <title>Sign in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/own.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.5.0/css/font-awesome.css') }}">
{% endblock %}
{% block content %}
</head>
<body>
<div>
    <div class="col-md-6 col-md-offset-4">
        <img src="{{ url_for('static', filename='image/nsg_logo.png') }}" align="middle">
    </div>
</div>
<div class="container" style="margin-top:60px">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Sign In</strong></h3></div>
            <div class="panel-body">
            <form method="POST" action="/login" enctype="multipart/form-data">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}.
                    </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    {{ render_register_field(form.email) }}
                </div>
                <div class="form-group">
                    {{ render_register_field(form.password) }}
                </div>
                <div class="input-group">
                    <div class="checkbox" style="margin-top: 0px;">
                        <label>
                          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Sign In</button>

                <hr style="margin-top:10px;margin-bottom:10px;" >
                <div class="form-group">
                    <div style="font-size:85%">
                        Don't have an account!
                    <a href="{{ url_for('register') }}">
                        Sign Up Here
                    </a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p><a href="http://www.telindus.fr/" target="_blank" >© 2015 - SFR Business</a></p>
  </div>
</footer>
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/own.js') }}"></script>
{% endblock %}
</body>
</html>
