{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_upload_file, render_input_textarea %}
{% block title %}{{ project.client }} - {{ project.projectName }}{% endblock %}
{% block content %}
    <div class="row margin-10">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="row margin-10">
                    <div class="col-md-7">
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {% for message in messages %}
                                <strong>Success!</strong> {{ message }}.
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-12 col-lg-12" >
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ project.client }} - {{ project.projectName }}</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                      <div class=" col-md-6 col-lg-4 ">
                          <div class="progress-pie-chart" data-percent="{{ project.fillingRatio }}"><!--Pie Chart -->
                            <div class="ppc-progress">
                                <div class="ppc-progress-fill"></div>
                            </div>
                            <div class="ppc-percents">
                            <div class="pcc-percents-wrapper">
                                <span>%</span>
                            </div>
                            </div>
                        </div><!--End Chart -->
                      </div>
                    <div class=" col-md-6 col-lg-4 ">
                      <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td><strong>Client</strong></td>
                            <td>{{ project.client }}</td>
                          </tr>
                          <tr>
                            <td><strong>Project Name</strong></td>
                            <td>{{ project.projectName }}</td>
                          </tr>
                          <tr>
                            <td><strong>Subproject Name</strong></td>
                            <td>{{ project.subProjectName }}</td>
                          </tr>
                          <tr>
                            <td><strong>Excel File</strong></td>
                            <td><a href="/download/{{ project.id }}/{{ project.currentVersion }}/{{ project.excelFile }}" target="_blank" download="">{{ project.excelFile }}</a></td>
                          </tr>
                          <tr>
                            <td><strong>Template File</strong></td>
                            <td><a href="/download/{{ project.id }}/{{ project.currentVersion }}/{{ project.templateFile }}" target="_blank" download="">{{ project.templateFile }}</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                      <div class=" col-md-6 col-lg-4 ">
                          <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td><strong>Number of variables</strong></td>
                            <td>{{ project.numberOfVarToFill }}</td>
                          </tr>
                          <tr>
                            <td><strong>Number of variables resolved</strong></td>
                            <td>{{ project.numberOfVarFilled }}</td>
                          </tr>
                          <tr>
                            <td><strong>Current Version</strong></td>
                            <td>{{ project.currentVersion }}</td>
                          </tr>
                          {% if user_can_edit %}
                          <tr>
                              <td align="center">
                                <input id="OnOffButton" type="checkbox" data-off-text="Private" data-on-text="Public" {% if project.public == True %}checked{% endif %}>
                              </td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>
                          <div class="col-md-6 col-md-offset-4">
                              <div class="row">
                                  <a href="/download/{{ project.id }}/{{ project.currentVersion }}/{{ project.zipFile }}"><i class="fa fa-download fa-5x" ></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <table id="comments" class="table table-bordred table-striped" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Version</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for version in versions %}
                                            <tr>
                                                <th class="col-lg-2"><h4>{{ version.version }}</h4></th>
                                                <th><h5>{{ version.description }}</h5></th>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="row">
                      <div class="col-md-12 col-lg-12">
                          <div class="panel panel-success">
                            <div class="panel-heading">
                              <h3 class="panel-title">Old versions</h3>
                            </div>
                            <table id="mytable" class="table table-bordred table-striped" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Filling ratio</th>
                                        <th>Percentage</th>
                                        <th>Excel File</th>
                                        <th>Template File</th>
                                        <th>Zip File</th>
                                        {% if user_can_delete %}
                                        <th></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for version in versions %}
                                    <tr>
                                        <td>{{ version.version }}</td>
                                        <td>{{ version.numberOfVarFilled }}/{{ version.numberOfVarToFill  }}</td>
                                        <td>{{ version.fillingRatio }}</td>
                                        <td><a href="/download/{{ project.id }}/{{ version.version }}/{{ version.excelFile }}" target="_blank" download=""><span class="fa fa-file-excel-o fa-1x"></span></a></td>
                                        <td><a href="/download/{{ project.id }}/{{ version.version }}/{{ version.templateFile }}" target="_blank" download=""><span class="fa fa-file-code-o fa-1x"></span></a></td>
                                        <td><a href="/download/{{ project.id }}/{{ project.currentVersion }}/{{ project.zipFile }}" target="_blank" download=""><span class="glyphicon glyphicon-download"></span></a></td>
                                        {% if user_can_delete %}
                                        <th><a href="/project/delete/version/{{ version.id }}"  type="button" class="delete btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a></th>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                    {% if user_can_edit %}
                    <div class="panel-footer">
                     <a data-toggle="collapse" data-target="#equipment1" class="accordion-toggle"><button type='button' class="btn btn-primary">New version</button></a>
                     <span class="pull-right">
                            <a href="{{ url_for('project_update', id=project.id) }}" data-original-title="Edit this project" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            {% if user_can_delete %}
                            <a projectid="{{ project.id }}" type="button" class="btn btn-sm btn-danger delete-modal" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="glyphicon glyphicon-trash"></i></a>
                            {% endif %}
                     </span>
                     <div class="accordian-body collapse" id="equipment1">
                         <div class="container">
                            <div class="col-sm-7">
                            <form method="POST" action="/project/{{ project.id }}/new" enctype="multipart/form-data">
                                {{ render_upload_file(form.excel_file, 'file-excel-o') }}
                                {{ render_upload_file(form.template_file, 'file-code-o') }}
                                {{ render_upload_file(form.version, 'folder') }}
                                {{ render_input_textarea(form.description, 'description') }}
                                <hr>
                                <button type="submit" class="btn btn-primary col-xs-12"  data-toggle="modal" data-target="#processing-modal">Submit</button>
                            </form>
                                <div class="modal fade" id="processing-modal" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-vertical-centered">
                                        <div class="row">
                                                <div id="loading">
                                                    <ul class="bokeh">
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                    </div>
                    {% endif %}
              </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <h1 class="text-muted">Equipments</h1>
        </div>
        <div class="row">
            <table id="mytable" class="table table-bordred table-striped" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Hostname</th>
                        <th>Equipment</th>
                        <th>Type</th>
                        <th>Filling ratio</th>
                        <th>Percentage</th>
                        <th>Error</th>
                        <th>View</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipment in equipments %}
                    <tr>
                        <td>{{ iterator.value() }}</td>
                        <td>{{ equipment['Hostname']  }}</td>
                        <td>{{ equipment['Equipment'] }}</td>
                        <td>{{ equipment['Type'] }}</td>
                        <td>{{ equipment['filling_ratio']  }}</td>
                        <td>{{ equipment['filling_ratio_in_percentage'] }}</td>
                        <td data-toggle="collapse" data-target="#equipment{{ iterator.increment() }}" class="accordion-toggle"><button type='button' class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                        <td><a href="/file/{{ project.id }}/{{ project.currentVersion }}/{{ equipment['Hostname'] }}" role="button" target="_blank"><i class="fa fa-file-code-o fa-1x"></i></a></td>
                        <td><a href="/download/{{ project.id }}/{{ project.currentVersion }}/{{ equipment['Hostname'] }}.txt" target="_blank" download=""><span class="glyphicon glyphicon-download"></span></a></td>

                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="equipment{{ iterator.value() }}">
                                <div class="col-sm-12">
                                    {% for error in equipment['tb'] %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-12">
            <h1 class="text-muted">Collaborating Users</h1>
        </div>
        {% if user_can_delete %}
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-6">
                    <div class="row" id="fields">
                        <input autocomplete="on" class="form-control" name="{{ project.id }}" id="user-input" type="text" placeholder="Type a firstname or lastname"/>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
            <div class="row">
            <br><br>
            <div class="col-md-12 col-lg-12">
                <table class="table table-hover table-striped">
                    <tbody id="project-user">
                        <tr>

                        </tr>
                        {% for user in project_users %}
                        <tr>
                            <td align="center">
                                <a href="{{ url_for('user_display', user_id=user.id) }}"><i class="-alt fa fa-2x fa-user fa-fw"></i></a>
                            </td>
                            <td>
                                <h4>
                                    <b>{{ user.firstname }} {{ user.lastname }}</b>
                                </h4>
                            </td>
                            <td>
                                <h4>
                                    {{ user.function }}
                                </h4>
                            </td>
                            <td>
                                <h4>
                                    {{ user.service }}
                                </h4>
                            </td>
                            <td>
                                <h5>
                                    <b>Last update:</b>
                                </h5>
                            </td>
                            {% if user_can_delete %}
                            <td>
                                <a href="{{ url_for('project_remove_user', project_id=project.id, user_id=user.id) }}"  type="button" class="delete-user btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete User</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- Delete Modal : Are you sure you want to delete this Record?  -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this project</h4>
      </div>
          <div class="modal-body">

       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this project?</div>

      </div>
        <div class="modal-footer " id="mymodal">
        <a href="" type="button" id="delete-project" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</a>
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
    </div>
    <!-- /.modal-content -->
        </div>
      <!-- /.modal-dialog -->
    </div>

{% endblock %}