{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <h2>Project</h2>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div>
                <a class="btn btn-primary" href="/project/new" role="button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>New project</span>
                </a>
            </div>
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Project</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-folder-open"></span> Filter</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="hidden" class="form-control" placeholder=""</th>
                            <th><input type="text" class="form-control" placeholder="Client" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Project Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Subproject Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Excel File" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Template file" disabled></th>
                            <th><input type="hidden" class="form-control" placeholder=""></th>
                            <th><input type="hidden" class="form-control" placeholder=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for p in project %}
                            <td><a href="/project/display/{{ p.id }}">
                                        <i class="glyphicon glyphicon-folder-open"></i>
                                </a>
                            </td>
                            <td>{{ p.client }}</td>
                            <td>{{ p.projectName }}</td>
                            <td>{{ p.subProjectName }}</td>
                            <td><a href="/download/{{ p.id }}/{{ p.excelFile }}" target="_blank" download=""><span class="glyphicon glyphicon-file"></span></a></td>
                            <td><a href="/download/{{ p.id }}/{{ p.templateFile }}" target="_blank" download=""><span class="glyphicon glyphicon-file"></span></a></td>
                            <td>
                                <a href="{{ url_for('project_update', id=p.id) }}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('project_delete', id=p.id) }}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
