{% extends "base.html" %}
{% block title %}{{ project.projectName }} {{ project.subProjectName }}{% endblock %}
{% block content %}
      <div class="container">
        <div class="row">
        <h2>{{ project.projectName }} {{ project.subProjectName }}</h2>
    </div>
    <div class="row margin-10">
    <div class="col-md-5">
        <div class="alert alert-danger" style="display : {{ alert }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                ×</button>
           <span class="glyphicon glyphicon-hand-right"></span> <strong>{{ message }}</strong>
        </div>
    </div>
    </div>
      <div class="row">
        <div class="col-md-9 col-lg-9 " >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ project.projectName }} {{ project.subProjectName }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-6 col-lg-6 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Client</td>
                        <td>{{ project.client }}</td>
                      </tr>
                      <tr>
                        <td>Project Name</td>
                        <td>{{ project.projectName }}</td>
                      </tr>
                      <tr>
                        <td>Subproject Name</td>
                        <td>{{ project.subProjectName }}</td>
                      </tr>
                      <tr>
                        <td>Excel File</td>
                        <td><{{ project.excelFile }}</td>
                      </tr>
                      <tr>
                        <td>Template File</td>
                        <td>{{ project.templateFile }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                  <div class=" col-md-6 col-lg-6 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Filling Ratio</td>
                        <td>{{ project.client }}</td>
                      </tr>
                      <tr>
                        <td>Number of variables filled</td>
                        <td>{{ project.projectName }}</td>
                      </tr>
                      <tr>
                        <td>Current Version</td>
                        <td>{{ project.subProjectName }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                     <a href="#" class="btn btn-primary">New version</a>
                     <span class="pull-right">
                            <a href="{{ url_for('project_update', id=project.id) }}" data-original-title="Edit this project" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="{{ url_for('project_delete', id=project.id) }}"  type="button" class="delete btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </span>
                    </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}