{% extends "base.html" %}
{% block title %}New Project{% endblock %}
{% from "_formhelpers.html" import render_field, render_upload_file, render_input_textarea, render_field_without_fa %}
{% block content %}
    <div class="container">
    <div class="col-sm-10">
        <div class="row">
            <h2>New Project</h2>
        </div>
        <!-- Step Wizard -->
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="" type="button" class="btn btn-primary btn-circle">1</a>
                    <p>Project Data</p>
                </div>
                <div class="stepwizard-step">
                    <a href="" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Preview</p>
                </div>
            </div>
        </div>
        <!-- Step Wizard END -->
    </div>
        <div class="container">
            <div class="col-sm-7">
                <form method="POST" action="/project/new" enctype="multipart/form-data">
                    {{ render_field(form.client, 'building') }}
                    {{ render_field(form.project_name, 'briefcase') }}
                    {{ render_field(form.subproject_name, 'folder') }}
                    {{ render_field(form.version, 'folder-open') }}
                    {{ render_input_textarea(form.description, 'description') }}
                    {{ render_upload_file(form.excel_file, 'file-excel-o') }}
                    {{ render_upload_file(form.template_file, 'file-code-o') }}
                    <hr>
                    <button class="btn btn-primary nextBtn col-xs-3 pull-right" type="submit" data-toggle="modal" data-target="#processing-modal">Next Step <i class="fa fa-angle-double-right"></i></button>
                </form>
                <div class="modal fade" id="processing-modal" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-vertical-centered">


                                    <div class="row">
                                            <div id="loading">
                                                <ul class="bokeh">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                    </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}