{% extends "base.html" %}
{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}
{% block content %}
      <div class="container">
        <div class="row">
        <h2>{{ user.firstname }} {{ user.lastname }}</h2>
    </div>
    <div class="row margin-10">
    {% include 'flashed_messages.html' with context %}
    </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 " >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ user.firstname }} {{ user.lastname }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Function</td>
                        <td>{{ user.function }}</td>
                      </tr>
                      <tr>
                        <td>Team</td>
                        <td>{{ user.service }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:<{{ user.mail }}">{{ user.mail }}</a></td>
                      </tr>
                      <tr>
                        <td>User id</td>
                        <td>{{ user.uid }}</td>
                      </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a href="mailto:{{ user.mail }}" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary "><i class="glyphicon glyphicon-envelope"></i></a>
                        {% if g.user.admin == True or g.user.id == user.id %}
                            <span class="pull-right">
                                <a href="{{ url_for('user_update', user_id=user.id) }}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                <a project="{{ url_for('user_delete', user_id=user.id) }}"  type="button" class="delete btn btn-sm btn-danger delete-user-modal" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                        {% endif %}
                    </div>
          </div>
        </div>
      </div>
  </div>


    <!-- Delete Modal : Are you sure you want to delete this Record?  -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this user</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this user?<br> All the projects related to this user will be removed.</div>
                </div>
                <div class="modal-footer " id="mymodal">
                    <a href="" type="button" id="delete-user" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete Modal -->

{% endblock %}