{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <h2>User</h2>
    </div>
    <div class="row">
        <div class="col-sm-10">
            {% include 'flashed_messages.html' with context %}
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">User</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="hidden" class="form-control" placeholder=""</th>
                            <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Function" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Team" disabled></th>
                            <th><input type="text" class="form-control" placeholder="User Id" disabled></th>
                            {% if g.user.is_admin() == True %}
                            <th><input type="hidden" class="form-control" placeholder=""></th>
                            <th><input type="hidden" class="form-control" placeholder=""></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for user in user %}
                            <td><a href="{{ url_for('user_display', user_id=user.id) }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                </a>
                            </td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.mail }}</td>
                            <td>{{ user.function }}</td>
                            <td>{{ user.service }}</td>
                            <td>{{ user.uid }}</td>
                            {% if g.user.is_admin() == True or g.user == user %}
                                <td><a href="{{ url_for('user_update', user_id=user.id) }}"  type="button" class="edit btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></td>
                                <td><a href-modal="{{ url_for('user_delete', user_id=user.id) }}" type="button" class="btn btn-sm btn-danger delete-user" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="glyphicon glyphicon-trash"></i></a></td>
                            {% endif %}

                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!-- Delete Modal : Are you sure you want to delete this Record?  -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this user</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this user?<br> All the projects related to this user will be removed.</div>
                </div>
                <div class="modal-footer " id="mymodal">
                    <a href="" type="button" id="delete-user" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete Modal -->

{% endblock %}
