{% extends "base.html" %}
{% block title %}Editing{% endblock %}
{% from "_formhelpers.html" import render_field_with_value, render_field, render_register_field %}
{% block content %}
    <div class="container">
    <div class="row">
        <h2>Editing {{ user.firstname }} {{ user.lastname }}</h2>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="alert alert-danger" style="display : {{ alert }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
               <span class="glyphicon glyphicon-hand-right"></span> <strong>{{ message }}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <form name="modify_user_form" method="POST" action="{{ url_for('user_update', user_id=user.id) }}" enctype="multipart/form-data">
                <div class="form-group">
                    {{ render_field_with_value(modify_user_form.firstname, user.firstname, 'user') }}
                    {{ render_field_with_value(modify_user_form.lastname, user.lastname, 'user') }}
                    {{ render_field_with_value(modify_user_form.email, user.mail, 'envelope') }}
                    {{ render_field_with_value(modify_user_form.uid, user.uid, 'envelope') }}
                    {{ render_field_with_value(modify_user_form.function, user.function, 'briefcase') }}
                    {{ render_field_with_value(modify_user_form.service, user.service, 'briefcase') }}
                    {% if g.user.is_admin() == True %}
                        <label>Admin</label>
                        <select name="admin" class="form-control">
                            <option value="Yes" {% if user.admin == True %}selected{% endif %}>Yes</option>
                            <option value="No" {% if user.admin == False %}selected{% endif %}>No</option>
                        </select>
                    {% endif %}
                </div>
                <br/>
            <button type="submit" class="btn btn-primary col-xs-6">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <h2>Modify password</h2>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <form name="modify_password_form" method="POST" action="{{ url_for('user_update_password', user_id=user.id) }}" enctype="multipart/form-data">
                {{ render_register_field(modify_password_form.password) }}
                {{ render_register_field(modify_password_form.confirm) }}
                <br/>
            <button type="submit" class="btn btn-primary col-xs-6">Modify password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
