{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <h2>User</h2>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">User</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="hidden" class="form-control" placeholder=""</th>
                            <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Function" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Team" disabled></th>
                            <th><input type="text" class="form-control" placeholder="User Id" disabled></th>
                            {% if g.user.is_admin() == True %}
                            <th><input type="hidden" class="form-control" placeholder=""></th>
                            <th><input type="hidden" class="form-control" placeholder=""></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for user in user %}
                            <td><a href="{{ url_for('user_display', user_id=user.id) }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                </a>
                            </td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.mail }}</td>
                            <td>{{ user.function }}</td>
                            <td>{{ user.service }}</td>
                            <td>{{ user.uid }}</td>
                            {% if g.user.is_admin() == True %}
                            <td>
                                <a href="{{ url_for('user_update', user_id=user.id) }}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('user_delete', user_id=user.id) }}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                            {% endif %}
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
